html, body{
    display: flex;
    justify-content: center;
    background-image:url("../images/starybkg.jpg");
}

nav{
    display: flex; 
    justify-content: center;
}

#container{
    width: 1001px;
    border: 1px solid black;
    padding: 7px;
}

canvas{
    border: 2px solid black;
    background-color: whitesmoke;
}

a:link, a:hover{
    background-color: yellowgreen;
    padding: 10px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: blue;
}

a:hover{
    background-color: green;
    color: blueviolet;
}